@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::before,
*::after {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    height: 100vh;
    background-color: lightgreen;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    position: relative;
    background-color: white;
    color: black;

    border-radius: 10px;
    padding: 1.5em 1.5em 3.1em 1.5em;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.day {
    font-size: 1.3em;
}

.date {
    color: #2C2D2D;
    font-size: 0.9em;
}

.delete-completed {
    position: absolute;
    font-size: 1.5em;
    right: 0;
    top: 50%;
    border: none;
    transform: translateY(-50%);
    background-color: transparent;
}

.delete-completed:hover {
    color: red;
    cursor: pointer;
}

.delete-completed-disabled {
    color: grey;
}

.delete-completed-disabled:hover {
    color: grey;
    cursor: not-allowed;
}

.no-tasks {
    text-align: center;
    color: grey;
    font-size: 1.2em;
}

.tasks {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    align-items: center;
    cursor: pointer;
}

.completed {
    color: grey;
    text-decoration: line-through;
}

.close-button:hover {
    color: red;
    cursor: pointer;
    font-weight: lighter;
}

.add-task-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    background-color: #77dd77;
    color: #2C2D2D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-size: 1.4em;
    padding: 0.5em 1em 0.3em 1em;
    border: 1px solid #77dd77;
    border-radius: 20px;
    cursor: pointer;
}

.add-task-button:hover {
    background-color: #3cd070; 
    border: 1px solid  #3cd070;
}

.add-task-button > svg {
    transition: rotate 0.3s;
}

.form-button > svg {
    rotate: 45deg;
}

.add-task {
    position: absolute;

    border-radius: 10px;
    padding: 1.5em;
    width: 400px;
    height: 100%;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    opacity: 0;
    z-index: -1;
    transform: translate(-1.5em, 0em);
    transition: opacity 0.1s ease, transform 0.1s ease;
}

.add-task.visible {
    opacity: 1;
    transform: translate(-1.5em, -1.5em);
    z-index: 0;
}

.form-name {
    font-size: 1.8em;
}

.form-input {
    width: 70%;
    height: 30%;
    max-height: 4em;
    font-size: 0.95em;

    padding: 1em;
    border: 2px solid #77dd77;
    border-radius: 10px;
    outline: none;
}

.form-input:focus {
    outline: 1px solid #3cd070;
}
